@page
@model FishingForum.Pages.SubCategoryPageModel
@{
}

@using Microsoft.AspNetCore.Identity
@inject SignInManager<Areas.Identity.Data.FishingForumUser> SignInManager
@inject UserManager<Areas.Identity.Data.FishingForumUser> UserManager

<div class="text-center">
    <h1 class="display-4">@Model.SubCategory.Name</h1>
</div>

@if (SignInManager.IsSignedIn(User))
{

}

<div class="">
    <div class="col-7 mx-auto category ">
        @if (SignInManager.IsSignedIn(User))
        {
            <h3 class="text-center link"><a asp-route-createthreadId="@Model.SubCategory.Id">Skapa ny tråd</a></h3>
        }
    </div>
    @foreach (var thread in Model.Threads)
    {

        <div class="col-7 mx-auto subCategory">
            <a asp-route-threadId="@thread.Id" class="link px-4 text-black"> @thread.Title</a>
        </div>

    }
</div>

@* <table>
    @foreach (var thread in Model.Threads)
    {
        <tr>
            <td><a asp-route-threadId="@thread.Id" class="link px-4 text-black"> @thread.Title</a></td>
        </tr>

    }
</table> *@
