@page
@model FishingForum.Pages.Admin.Message.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Message[0].DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message[0].Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message[0].SenderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message[0].RecieverId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Message) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecieverId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
